<%= form_for(@recruit) do |form| %>
  <% if recruit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recruit.errors.count, "error") %> prohibited this recruit from being saved:</h2>

      <ul>
      <% recruit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true %><br>

    <%= form.label :phone_number %>
    <%= form.phone_field :phone_number, class: 'form-control', required: true %><br>

    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control', required: true %><br>

    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', required: true %><br>

    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: 'form-control', required: true %><br>

  </div>

  <%= form.submit "Publish", class: 'btn btn-primary' %>

<% end %>
